* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: roboto, sans-serif;
}

$clr-prim: #9356DC;
$clr-second: #FF79DA;
$clr-tert: #99E2D0;
$clr-grey: #EAEAEA;

@mixin center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@mixin vertical-around {
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.couleur {
    display: flex;
    margin-bottom: 25px;

}

.primaire {
    width: 100px;
    height: 50px;
    background-color: $clr-prim;
}

.secondaire {
    width: 100px;
    height: 50px;
    background-color: $clr-second;
}

.tertiaire {
    width: 100px;
    height: 50px;
    background-color: $clr-tert;
}

h4 {
    font-weight: lighter;
}


/*********************************************************** HEADER ***********************************************************/

.header {
    @include center;
    // border: 1px black solid;
    height: 60px;
    &__txt {
        font-family: Shrikhand, cursive;
        font-size: 1.5rem;

    }
}

/*********************************************************** MAIN *************************************************************/

.localisation {
    @include center;
    height: 50px;
    background-color: rgba(176, 188, 200, .3);
    border-top: 2px #CECECE solid;
    &__txt {
        @include between;
        width: 45%;
       
        font-weight: bold;
    }
}

/*************************************************** SECTION PRESENTATION *****************************************************/

.presentation {
    @include center;
    height: 250px;
    background-color: #F7F7F7;
    &__contain {
        @include vertical-around;
        width: 90%;
        height: 200px;
        margin: auto;
        &--reservez {
        text-align: center;
        font-weight: bold;
        }
        &--decouvrez {
        text-align: center;
        }
        &--btn {
            position: relative;
            &-normal {
            width: 180px;
            height: 45px;
            border-radius: 30px;
            color:aliceblue;
            font-weight: bold;
            border: none;
            background: linear-gradient(to bottom, #FF79DA 0%, #9356DC 100%);
            box-shadow: #c0baba 2px 3px 2px 0px;
            }
            &-hover {
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0;    
            width: 180px;
            height: 45px;
            border-radius: 30px;
            color:aliceblue;
            font-weight: bold;
            border: none;
            background: linear-gradient(to bottom, #F4BFF4 0%, #FF79DA 100%);
            box-shadow: #c0baba 2px 3px 2px 0px;
            }
            &:hover {
                .presentation__contain--btn-hover {
                    opacity: 1;
                    transition: 1s ease-in-out;
                    box-shadow: #959191 2px 3px 2px 0px;
                    cursor: pointer;
                }
            }
        }
    }
}

/************************************************ SECTION FONCTIONNEMENT ********************************************************/

.fonctionnement {
    height: 350px;
    &__contain {
        width: 90%;
        margin: auto;
        &--title {
            margin-top: 20px;
        }
        &--btn {
            @include vertical-around;
            height: 250px;
        }
    }
}

.fct-btn {
    position: relative;
    width: 100%;
    height: 50px;
    background-color: #F7F7F7;
    border: none;
    border-radius: 15px;
    box-shadow: #c0baba 2px 3px 2px 0px;
    &__number {
        position: absolute;
        @include center;
        width: 25px;
        height: 25px;
        background-color: $clr-prim;
        border-radius: 25px;
        color:aliceblue;
        font-weight: bold;
        top: 10px;
        left: -10px;
    }
    &__txt {
        @include between;
        width: 70%;
        i {
            color: #877f7f;
        }
    }
}


/*********************************************************** SECTION RESTAURANTS *******************************************************/

.restaurants {
    @include center;
    background-color: $clr-grey;
    height: 1000px;
    &__contain {
        width: 90%;
        margin: auto;
        &--title {
            margin-bottom: 20px;
        }
    }
}

.restaurants-cards {
    background-color: white;
    width: 100%;
    height: 190px;
    margin-bottom: 40px;
    border-radius: 10px;
    box-shadow: #c0baba 2px 3px 2px 0px;
    &__img {
        width: 100%;
        height: 130px;
        border-radius: 10px 10px 0 0;
        // background: url(../images/palette.jpg) center/cover;
       
    }
    &__description {
        @include between;
        padding: 10px;
        &-coeur {
            position: relative;
            font-size: 1.2rem;
            &--plein {
                position: absolute;
                color: $clr-prim;
                top: 0;
                left: 0;
                opacity: 0;
                &:hover {
                    opacity: 1;
                    transition: 1.5s;
                    cursor: pointer;
                }
            }
        }
    }
}

.palette {
    background: url(../images/palette.jpg) center/cover;
}
.note {
    background: url(../images/note.jpg) center/cover;
}
.française {
    background: url(../images/française.jpg) center/cover;
}
.delice {
    background: url(../images/delice.jpg) center/cover;
}


/*********************************************************** FOOTER *************************************************************/

.footer {
    background-color: #353535;
    height: 200px;
    margin-bottom: 30px;
    padding: 10px;
    &__nav {
        width: 80%;
        &--i {
            // display: flex;
            justify-content: space-between;
            align-items: flex-start;
            i {
                width: 1.5rem;
                height: 1.5rem;
                color: white;
        
            }
        }
    }
}

.footer-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    height: 90%;
    margin: auto;
    color: white;
    p {
        font-family: Shrikhand, cursive;
    }
    ul {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: flex-start;
        height: 100px;
    }
    li {
        width: 100%;
        font-size: 1rem;
    }
    
    
}

