@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: roboto, sans-serif;
}

h4 {
  font-weight: lighter;
}

a {
  color: black;
}

/*********************************************************** HEADER ***********************************************************/
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
}
.header__txt {
  font-family: Shrikhand, cursive;
  font-size: 1.5rem;
}

/*********************************************************** MAIN *************************************************************/
.localisation {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  background-color: rgba(176, 188, 200, 0.3);
  border-top: 2px #CECECE solid;
}
.localisation__txt {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45%;
  font-weight: bold;
}
.localisation__txt i {
  margin-right: 10px;
}

/*************************************************** SECTION PRESENTATION *****************************************************/
.presentation {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 250px;
  background-color: #F7F7F7;
}
.presentation__contain {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 90%;
  height: 200px;
  margin: auto;
}
.presentation__contain--reservez {
  text-align: center;
  font-weight: bold;
}
.presentation__contain--decouvrez {
  text-align: center;
}
.presentation__contain--btn {
  position: relative;
}
.presentation__contain--btn-normal {
  width: 180px;
  height: 45px;
  border-radius: 30px;
  color: aliceblue;
  font-weight: bold;
  border: none;
  background: linear-gradient(to bottom, #FF79DA 0%, #9356DC 100%);
  box-shadow: #c0baba 2px 3px 2px 0px;
}
.presentation__contain--btn-hover {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  width: 180px;
  height: 45px;
  border-radius: 30px;
  color: aliceblue;
  font-weight: bold;
  border: none;
  background: linear-gradient(to bottom, #F4BFF4 0%, #FF79DA 100%);
  box-shadow: #c0baba 2px 3px 2px 0px;
}
.presentation__contain--btn:hover .presentation__contain--btn-hover {
  opacity: 1;
  transition: 1s ease-in-out;
  box-shadow: #959191 2px 3px 2px 0px;
  cursor: pointer;
}

/************************************************ SECTION FONCTIONNEMENT ********************************************************/
.fonctionnement {
  height: 220px;
}
.fonctionnement__contain {
  width: 90%;
  margin: auto;
}
.fonctionnement__contain--title {
  margin-top: 20px;
}
.fonctionnement__contain--btn {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 130px;
}

.fct-btn {
  border: 1px red solid;
  position: relative;
  width: 200px;
  height: 50px;
  background-color: #F7F7F7;
  border: none;
  border-radius: 15px;
  box-shadow: #c0baba 2px 3px 2px 0px;
}
.fct-btn__number {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  background-color: #9356DC;
  border-radius: 25px;
  color: aliceblue;
  font-weight: bold;
  top: 10px;
  left: -10px;
}
.fct-btn__txt {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
}
.fct-btn__txt i {
  color: #877f7f;
}

/*********************************************************** SECTION RESTAURANTS *******************************************************/
.restaurants {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #EAEAEA;
  height: 630px;
}
.restaurants__contain {
  width: 90%;
  margin: auto;
}
.restaurants__contain--title {
  margin-bottom: 20px;
}

.restau1-restau2, .restau3-restau4 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.restau1-restau2 a, .restau3-restau4 a {
  width: 45%;
}

.restaurants-cards {
  background-color: white;
  width: 100%;
  height: 190px;
  margin-bottom: 40px;
  border-radius: 10px;
  box-shadow: #c0baba 2px 3px 2px 0px;
}
.restaurants-cards__img {
  width: 100%;
  height: 130px;
  border-radius: 10px 10px 0 0;
}
.restaurants-cards__description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.restaurants-cards__description-coeur {
  position: relative;
  font-size: 1.2rem;
}
.restaurants-cards__description-coeur--plein {
  position: absolute;
  color: #9356DC;
  top: 0;
  left: 0;
  opacity: 0;
}
.restaurants-cards__description-coeur--plein:hover {
  opacity: 1;
  transition: 1.5s;
  cursor: pointer;
}

.palette {
  background: url(../images/palette.jpg) center/cover;
}

.note {
  background: url(../images/enchantee.jpg) center/cover;
}

.française {
  background: url(../images/française.jpg) center/cover;
}

.delice {
  background: url(../images/delice.jpg) center/cover;
}

/*********************************************************** FOOTER *************************************************************/
.footer {
  background-color: #353535;
  height: 200px;
  margin-bottom: 30px;
  padding: 10px;
}
.footer__nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
.footer__nav--i {
  justify-content: space-between;
  align-items: flex-start;
}
.footer__nav--i i {
  width: 1.5rem;
  height: 1.5rem;
  color: white;
}

.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  height: 90%;
  margin: auto;
  color: white;
}
.footer-container p {
  font-family: Shrikhand, cursive;
}
.footer-container ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100px;
  text-align: center;
}
.footer-container li {
  width: 100%;
  font-size: 1rem;
}
.footer-container a {
  color: white;
}/*# sourceMappingURL=tablette.css.map */